/* Globals & Imports */
@import '../../node_modules/modern-normalize/modern-normalize.css';

@import '../../node_modules/@fontsource/inter/index.css';

@import '../../node_modules/@fontsource/inter/400.css';

@import '../../node_modules/@fontsource/inter/500.css';

@import '../../node_modules/@fontsource/inter/700.css';

body {
  font-family: 'Inter';
}

::-moz-selection {
  background: black;
  color: white;
}

::selection {
  background: black;
  color: white;
}

/* Navbar */

.nav-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: white;
  padding: 0px 10px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  height: 32px;
}

.nav-logo img {
  height: 32px;
}

.nav-btn-toggle {
  width: 60px;
  height: 60px;
  padding: 17px;
  z-index: 1000;
}

.nav-links {
  text-align: center;
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  width: 100%;
}

.nav-links li a {
  display: block;
  width: 100%;
  padding: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.nav-active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.nav-close {
  display: none;
}

svg.hide {
  display: none;
}

svg.show {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .nav-btn-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .nav-links li a {
    padding: 30px;
  }

  .nav-container {
    width: 1060px;
  }

  .nav-main {
    justify-content: center;
    height: 80px;
    padding: 0;
  }

  .nav-logo {
    height: 40px;
  }

  .nav-logo img {
    height: 40px;
  }
}

/* Main header */

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero-content {
  text-align: center;
}

.hero-main {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    linear-gradient(rgba(228, 15, 15, 0.6), rgba(248, 211, 0, 0.8)),
    url('../img/hero.jpg?as=webp');
}

.hero-second {
  height: 200px;
}

.hero-novinky {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/hero-novinky.jpg?as=webp');
}

.hero-vysledky {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/hero-vysledky.jpg?as=webp');
}

.hero-tabulka {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/hero-tabulka.jpg?as=webp');
}

.hero-zapasy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/hero-zapasy.jpg?as=webp');
}

.hero-jorginhuv-penaltovy-double {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/hero-jorginhuv-penaltovy-double.webp');
}

.hero-arsenal-porazil-saints {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/hero-arsenal-porazil-saints.webp');
}

.hero-vice-nez-polovina-manazeru-byla-odmenena {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/hero-vice-nez-polovina-manazeru-byla-odmenena.webp');
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
}

.hero-content h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .hero-content h1 {
    font-size: 64px;
  }

  .hero-content h2 {
    font-size: 48px;
  }

  .hero-second {
    height: 500px;
  }
}

/* Logo container */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.logo-container img {
  width: 160px;
  margin: 10px;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .logo-container {
    flex-direction: row;
  }
}

/* Article list */
.article-main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.article-main:hover h2 {
  text-decoration: underline;
}

.article-switch {
  flex-direction: column-reverse;
}

.article-main img:first-child {
  box-shadow: -20px 20px 0px -5px rgba(255, 0, 0, 0.5);
  transition: all 0.1s ease-out;
}

.article-main:hover img:first-child {
  box-shadow: -20px 20px 0px -8px rgba(255, 0, 0, 0.6);
}

.article-main img:nth-child(2) {
  box-shadow: 20px -20px 0px -5px rgba(255, 0, 0, 0.5);
  transition: all 0.1s ease-out;
}

.article-main:hover img:nth-child(2) {
  box-shadow: 20px -20px 0px -8px rgba(255, 0, 0, 0.6);
}

.article-main div {
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .article-main img {
    margin-right: 20px;
  }

  .article-main {
    margin: auto;
  }
}

@media only screen and (min-width: 1060px) {
  .article-main {
    width: 1060px;
    flex-direction: row;
  }
}
/* Article content */

.breadcrumb {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  font-weight: 500;
  margin: 15px;
}

.breadcrumb a {
  color: inherit;
}

.breadcrumb svg {
  height: 15px;
  width: 15px;
  margin: 5px;
}

.top-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  padding: 10px 0;
}

.social-share {
  display: flex;
  align-items: center;
  margin: 10px;
}

.social-share img {
  margin: 0 15px;
}

.social-share a {
  text-decoration: none;
  cursor: pointer;
}

.content-main {
  padding: 0 20px;
  margin: auto;
}

@media only screen and (min-width: 1060px) {
  .top-panel {
    width: 1060px;
    justify-content: space-between;
  }
  .content-main {
    width: 700px;
    padding: 0;
  }
}

/* Table */

.table-main {
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.table-main th {
  background: black;
  color: white;
}

.table-main span {
  display: none;
}

@media only screen and (min-width: 768px) {
  .table-main {
    width: 800px;
    margin: auto;
    padding: 20px;
  }

  .table-team {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .table-team img {
    margin-left: 20px;
  }

  .table-main span {
    display: inline-block;
  }

  .table-main td {
    border: 1px solid black;
  }

  .table-main th {
    padding: 5px;
  }
}

/* Footer */

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 175px;
  background-color: black;
  color: white;
  bottom: 0;
}

.footer-content {
  text-align: center;
}

.footer-content a {
  color: inherit;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
}

.footer-content a:hover {
  text-decoration: none;
}

.footer-content a > svg {
  height: 15px;
  width: 15px;
  margin-left: 3px;
}
