/* Globals & Imports */
@import '../../node_modules/modern-normalize/modern-normalize.css';

@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

/* Navbar */

.nav-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: white;
  padding: 0px 10px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo img {
  height: 30px;
}

.nav-btn-toggle {
  width: 60px;
  height: 60px;
  padding: 17px;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  padding: 20px;
  margin: 20px 0;
}

.nav-links li {
  margin: 20px 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.nav-active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.nav-close {
  display: none;
}

svg.hide {
  display: none;
}

svg.show {
  display: block;
}

@media only screen and (min-width: 768px) {
  .nav-btn-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
  }
  .nav-links li a {
    padding: 30px;
  }

  .nav-container {
    width: 1060px;
  }
  .nav-main {
    justify-content: center;
    height: 80px;
    padding: 0;
  }
  .nav-logo img {
    height: 40px;
  }
}

.hover-underline {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  border-radius: 2px;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Main header */

.hero-main {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: bold;
  margin: 0;
}

.hero-content h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .hero-content h1 {
    font-size: 64px;
  }

  .hero-content h2 {
    font-size: 48px;
  }
}
